 @import "~bootstrap/scss/bootstrap-reboot.scss";
 @import "~bootstrap/scss/bootstrap-grid";


$font-stack: Helvetica, sans-serif;
$primary-color: hsl(0, 0%, 0%);
$dark-grey: hsl(0, 0%, 63%);
$very-dark-grey: hsl(0, 0%, 27%);
$white: hsl(0, 0%, 100%);


body {
  background: gray;
  font: 100% $font-stack;
  color: $primary-color;

  a {
    color: $primary-color;
  }


}