@import '../scss/styles.scss';

header {
  position: fixed;
  width: 100%;

  
  &.mm-open {
    background: white;

    .mainmenu {
      a {
        color: $primary-color;
      }

      .logo {
        opacity: 0;
      }
      .extended-list {
        z-index: 1;
        opacity: 1;
      }
    }
  }
}